Html,
body {
    padding: 0px;
    margin: 0px;
    background-color:black;
    color: whitesmoke;
    font-family: var(font-sans-serif);
    font-size: 10.5px;
}
.header {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: rgb(147, 144, 144);
    color: black;
    border-radius: 10px;
    margin:10px;
    font-size: 1.7rem;
}

.header:hover {
    color: #bb432c;
    background-color: rgb(250, 250, 251);
    text-decoration: underline;
}

.list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: flex-end;
    gap: 30px;
    border: 10px;
    margin: 10px;
    padding: 10px;
    position: sticky;
    margin-top: 0px;
    overflow: hidden;
    border-radius: 10px;
}

.headlist {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 10px;
    background-color: #bb432c;
    border-radius: 10px;
    color: azure;
    margin: 15.5px;
    font-size: 1.2rem;
}

.headsup {

    border-radius: 10px;
    padding: 10px;
    opacity: 0.9;
    font-size: larger;
}

.body-1 {
    border: 2px solid #bb432c;
    border-radius: 10px;
    margin: 15.5px;
    font-size: 2rem;
}

.suggested {
    padding: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    justify-content: center;
    align-items: center;
    background-color: rgba(36, 35, 35, 0.363);
    border-radius: 10px;
}

.java {
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border: solid;
    border: 3px solid rgba(216, 216, 216, 0.856);
    border-radius: 5px;
}

.java:hover {
    background-color: #ffe090;
}

.rank {
    margin: 10px;
    padding: 10px;
    border: 3px solid rgba(216, 216, 216, 0.856);
    border-radius: 5px;

}

.rank:hover {
    background-color: #ffe090;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 4px;
    padding: 10px;
}

.array {
    padding: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: 1.7rem;
    background-color: rgba(36, 35, 35, 0.363);
    border-radius: 10px;
}

.list-2 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    font-size: 1.2rem;
    list-style: none;
}

.a {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 2px;
}

.earn {
    margin: 15.5px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    font-size: 2rem;
    padding-top: 5px;
    margin-top: 5px;
    padding-top: 5px;
    background-color: rgba(36, 35, 35, 0.363)
}
.button-2 {
    margin: 3px;
    padding: 5px;
}
.kata {
   margin: 15.5px;
   padding:10px ;
   border-radius: 10px;
   font-size: 2rem;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   background-color: rgba(36, 35, 35, 0.363)
}
.allies {
    display: flex;
    justify-content: space-around;
    border: 3px solid  rgba(0, 0, 0, 0.1);
    margin: 15.5px;
    padding: 10px ;
    border-radius: 10px;
    flex-direction: column;
    font-size: 2rem;
    background-color: rgba(36, 35, 35, 0.363)
}
.table {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 14px;
    width: 100%;
}
.body-3 {
    display: flex;
    justify-content: space-around;
    border: 3px solid  rgba(0, 0, 0, 0.1);
    margin: 15.5px;
    padding: 10px ;
    border-radius: 10px;
    flex-direction: column;
    font-size: 2rem;
    background-color: rgba(36, 35, 35, 0.363)
}
.footer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.li {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: flex-start;
   font-size: 1rem;
   gap: 3px;
   margin-left: 0;
}